apiVersion: v1
kind: Service
metadata:
  name: mysql-svc
  namespace: wordpress
spec:
  selector:
    app: wp-database
  ports:
  - port: 3306
    targetPort: 3306
    name: mysql

---
apiVersion: v1
kind: Service
metadata:
  name: wordpress-svc
  namespace: wordpress
spec:
  selector:
    app: wordpress-app
  type: NodePort  
  ports:
  - port: 80
    targetPort: 80
    name: http
    